html{
    background-color: rgb(193, 253, 233);
}

body > h1{
    text-align: center;
}

body > input{
    margin-left: 27%;
    height: 4vh;
    margin-right: 1%;
}
body > input#num1{
    margin-left: 25%;
    width: 100px;
}

body > input#num2{
    margin-left: 15px;
    width: 100px;
}

input[type="button"]{
    height: 40px;
    width: 40px;
    border-radius: 15px;
    border: 1px;
    background-color: rgb(19, 175, 40);
    font-size: 13pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#BTNcalc{
    margin: 0px;
    font-size: 10pt;
}

#BTNsoma{
    margin: 0px;
    margin-left: 32%;
    margin-top: 5%;
}

#BTNsub{
    margin: 0px;
}

#BTNmul{
    margin: 0px;
}

#BTNdiv{
    margin: 0px;
}