html{
    background-color: rgb(193, 253, 233);
}

body > h1{
    text-align: center;
}

body > input{
    margin-left: 27%;
    height: 4vh;
    margin-right: 1%;
}
body > input#num1{
    margin-left: 26%;
    width: 70px;
}

body > input#num2{
    margin-left: 30px;
    width: 70px;
}

input[type="button"]{
    height: 40px;
    width: 40px;
    border-radius: 15px;
    border: 1px;
    background-color:green;
    font-size: 13pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

#BTNcalc{
    margin: 0px;
    font-size: 10pt;
}

#BTNsoma{
    margin: 0px;
    margin-left: 27%;
    margin-top: 12%;
}

#BTNsub{
    margin: 0px;
}

#BTNmul{
    margin: 0px;
}

#BTNdiv{
    margin: 0px;
}
body h3#ad{
    margin-left: 150px;
}